.sapMPanel .sapMPanelHdr,
.sapMPanel .sapMTB.sapMPanelHeaderTB {
    background-color: #8cb8da;
    opacity: 70%;
    color: black;
    font-weight: bolder;
}

.sapMPanelHdr {
    font-size: 1.1rem;
}

.sapMPanel .sapMPanelHeadingDiv>.sapMPanelHdr,
.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
    background-color: #8cb8da;
}

.sapMPanelWrappingDiv .sapUiIcon {
    color: #000;
}

.GDPRMessage {
    margin: 0 2rem;
}